.wrapper {
    padding: 32px;
}

.page-header {
    display: inline-block;
    font-weight: 600;
    margin-top: 16px;
}

.content {
    display: flex;
    align-items: center;
}

.about-panel {
    width: 540px;
    height: 480px;
}

.content-header {
    display: inline-block;
    margin: 16px 0;
    font-size: 3rem;
    color: var(--theme-color);
}

.content-left {
    margin-right: 20px;
}

.content-text {
    display: inline-block;
    margin: 24px 0;

    font-size: 1.6rem;
}
