.wrapper {
    padding: 32px !important;

    * {
        justify-content: space-between;
    }
}

.form-field,
.form-input {
    background-color: rgba(217, 217, 217, 1);
    color: black;
    border-radius: 4px;
}

.form-input {
    margin: 8px 0;
}

.form-field {
    padding: 18px 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0px !important;

    & .form-input {
        background-color: white;
    }
}

.action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.submit-btn {
    font-size: 1.2rem;
    border-radius: 4px;

    width: 150px;
}

.price {
    display: block;
    width: 100%;
    text-align: end;
}
